concurrent = {{ CONCURRENCY_PER_NODE }}
# Add Prometheus listen endpoint, which we cannot add on registration
listen_address = ":9252"
check_interval = 0

# Add Web terminals configuration, which we cannot add on registration
[session_server]
  session_timeout = 1800
  {% if GITLAB_RUNNER_ENABLE_WEB_TERMINAL == true %}
  listen_address = "0.0.0.0:8093"
  advertise_address = "{{ runner_hostname }}:8093"
  {% endif %}
